[user]
  name = Reece Bennett
  email = reece.bennett1@gmail.com

[alias]
  ec = config --global --edit
  co = checkout
  st = status
  cm = commit
  fa = fetch -ap
  dhead = remote set-head origin -d
  lg = log --graph --author-date-order --abbrev-commit --pretty=format:'%C(bold yellow)%h%Creset - %s %n%Cgreen(%ar) %C(bold blue)<%an>%Creset%C(auto)%d%Creset%n'
  lga = !git lg --all
  
[core]
  editor = vim -c startinsert
  pager = diff-so-fancy | less --tabs=4 -RFX
  autocrlf = true
  
# Better colours for diff (npm install -g diff-so-fancy)
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = red 52
  newNormal = green
  newHighlight = green 22

[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  whitespace = red reverse
