[user]
  name = Reece Bennett
  email = reece.bennett1@gmail.com

# Conditional include to change email when in work directory
[includeIf "gitdir:defra/"]
  path = .gitconfig-work

[alias]
  ec = config --global --edit
  co = checkout
  st = status
  cm = commit
  fa = fetch -ap
  dhead = remote set-head origin -d
  lg = log --graph --author-date-order --abbrev-commit --pretty=format:'%C(bold yellow)%h%Creset %s %n%Cgreen(%ar) %C(bold blue)<%an>%Creset%C(auto)%d%Creset%n'
  lga = !git lg --all
  resetorigin = reset --hard "@{upstream}"

[core]
  editor = vim
  # Un-comment to checkout and commit LF on windows
  # autocrlf = false
  # eol = lf

[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
  
[pull]
  ff = only
